* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	--activeColor: rgb(240 240 240);
	--navBgColor: rgb(37 38 41);
	--navTextColor: rgb(144 144 150);
	--mainBg: rgb(20 20 23);
	
	font-family: 'Syncopate', sans-serif;
	min-height: 100vh;
	margin: 0;
	color: var(--navBgColor);
	background: var(--mainBg);
}

html {
  scroll-behavior: smooth;
}

section {
	--h: calc(var(--i) * 30);
	
	min-height: 100vh;
	padding: 8rem 1rem max(5vh, 2rem) 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(--h, 0) 75% 60%);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--navBgColor);
	color: var(--navTextColor);
	z-index: 2;
	height: 6rem;
}

nav::after {
  content: '';
  position: absolute;
  top: 1.7rem;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: currentColor;
  pointer-events: none;
}

.marker {
	position: fixed;
	top: 1.75rem;
	left: 4rem;
	width: 1rem;
	height: 1rem;
	transform: translate3d(-50%, -50%, 0);
	background: var(--activeColor);
	border-radius: 100%;
	z-index: 2000;
}

.nav__track {
	position: relative;
	min-width: max(200rem, 200%);
	padding: 1.5rem max(100rem, 100%) 0 0;
	height: 6rem;
}

.nav__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.nav__link {
	position: relative;
	display: block;
	min-width: 8rem;
	padding: 2.25rem 1rem 0.5rem;
	text-align: center;
	color: inherit;
	text-decoration: none;
	z-index: 1;
	transition: color 150ms;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--activeColor);
  text-decoration: underline;
}

.nav__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.65rem;
  height: 0.65rem;
  background-color: currentColor;
  border-radius: 50%;
  transform: translate3d(-50%, 0, 0);
  transform-origin: center center;
}

span {
  display: block;
}

.section__heading {
	font-size: clamp(2rem, 12vmin, 7rem);
	line-height: 1;
	letter-spacing: -0.06em;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}